openapi: 3.1.0

info:
  title: FWA Sales Digitalization — Account Executive API
  version: 1.0.0-draft
  summary: Backend contract for the HiFi AIR Account Executive mobile application.
  description: |
    Backend API for the **Account Executive (AE)** module of the HiFi AIR Sales
    Management Platform.

    ## Scope
    AE activities only. GSE / DSE / DSF flows — including Open New Outlet (ONO)
    and Gadget Store sell-in — are explicitly **out of scope** for this contract.

    ## The AE flow this API serves
    1. **Login** with an HQ-issued AE code (case-insensitive).
    2. **Register a prospect** during door-to-door activity — name, phone,
       address, GPS, and an interaction status of `EDUKASI`, `HOT_LEADS`
       or `PURCHASE`.
    3. **Activate a customer** — scan the MSISDN barcode on the HiFi AIR box.
       The server resolves ICCID / IMEI / modem type from inventory; the client
       never supplies them.
    4. **Track performance** — activations, incentive, new customers, hot leads.

    ## Conventions
    * All timestamps are RFC 3339 with offset. The **server** is authoritative
      on time; `deviceTime` is recorded for audit but never trusted.
    * The AE identity always comes from the JWT. No endpoint accepts an
      `aeId` in a request body — a client cannot write on another AE's behalf.
    * Money is IDR in whole rupiah as an integer. The UI renders
      "Insentif 242" as hundreds of thousands; that scaling is presentation-only.
    * MSISDNs are normalised to `62` country-code form. A barcode scanned as
      `085882724305` must be sent as `6285882724305`.
    * Every `POST` that creates a record accepts an `Idempotency-Key` header so
      the mobile offline outbox can retry safely without creating duplicates.

  contact:
    name: FWA Sales Digitalization Project
  license:
    name: Proprietary — Indosat Ooredoo Hutchison

servers:
  - url: https://api.fwa-sales.dev/v1
    description: Development
  - url: http://localhost:4010/v1
    description: Local Prism mock (prism mock openapi.yaml)

tags:
  - name: Auth
    description: Login, token refresh, and profile.
  - name: Customers
    description: Prospect registration and lists. Backs *Input New Customer*, *Daftar New Customer*, *Daftar Hot Leads*.
  - name: Inventory
    description: MSISDN lookup for the barcode scanner.
  - name: Activations
    description: Customer activation. Backs *Aktivasi Pelanggan* and *Daftar Aktivasi*.
  - name: Attendance
    description: Daily check-in / check-out (CICO).
  - name: Reports
    description: Home dashboard and the Report screen.
  - name: Sync
    description: Offline bootstrap for the mobile client.
  - name: Files
    description: Short-lived signed delivery of private uploads.
  - name: Internal
    description: Server-to-server. Not reachable by the mobile app.
  - name: Addresses
    description: The MPX *Alamat Penerima* book. Required to raise a device order.
  - name: Shipment
    description: |
      The Device Partner dispatches with a courier and AWB; both sides watch the
      four-step Delivery Progress tracker.
  - name: Goods Receipt
    description: |
      The MPX confirms a delivery. One final, all-or-nothing confirmation — a short
      box is resolved outside this system.
  - name: Stock & Allocation
    description: |
      What an MPX holds, and handing it to a salesman. The allocation endpoint is
      the seam between this dashboard and the AE mobile app.
  - name: Account Executives
    description: |
      The AE directory, as an MPX sees it. This is the endpoint that could not
      exist on the AE audience: golden rule 2 scopes every AE-facing list to the
      token, so no AE route returns more than one AE.
  - name: MSISDN PO
    description: |
      A Device Partner requests numbers from IOH and IOH supplies them. One
      feature seen from two sides, sharing a status machine.
  - name: Hard Bundle
    description: The Device Partner pairs an IMEI to each supplied MSISDN.
  - name: Device PO
    description: |
      An MPX orders devices from a Device Partner; the partner accepts and
      attaches paired bundles to the order.
  - name: Admin Reference
    description: |
      Read-only master data the dashboard forms are built from. Small fixed sets,
      returned unpaginated in a `{ "data": [...] }` envelope.
  - name: Admin Auth
    description: |
      Web dashboard login for the supply chain module (Device Partner / IOH / MPX).
      A **separate token audience** from the AE app: tokens minted here carry
      `aud: "admin"` and are rejected by every AE route, and an AE token is
      rejected by every `/admin` route. See `adminBearerAuth`.

security:
  - bearerAuth: []

paths:

  # ===================================================================
  # AUTH
  # ===================================================================
  /auth/login:
    post:
      tags: [Auth]
      summary: Log in with AE code and password
      description: |
        AE credentials are created and distributed by IOH HQ. The AE code is
        matched **case-insensitively** — `AE-SIDOARJO1`, `ae-sidoarjo1` and
        `Ae-SidoArjo1` are the same account.
      security: []
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [aeCode, password]
              properties:
                aeCode:
                  type: string
                  minLength: 1
                  maxLength: 50
                  examples: ["AE-BENGKULU1"]
                password:
                  type: string
                  format: password
                  minLength: 1
                deviceLabel:
                  type: string
                  maxLength: 120
                  description: Free-text device identifier, stored against the refresh token.
                  examples: ["Samsung A15 / android-14"]
      responses:
        "400": { $ref: "#/components/responses/MalformedBody" }
        "200":
          description: Authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthTokens" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Exchange a refresh token for a new access token
      security: []
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string, minLength: 1 }
      responses:
        "400": { $ref: "#/components/responses/MalformedBody" }
        "200":
          description: Refreshed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthTokens" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke the current refresh token
      operationId: logout
      responses:
        "204": { description: Logged out }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /me:
    get:
      tags: [Auth]
      summary: Profile of the signed-in AE
      description: Supplies the read-only "ID AE" field shown on every input form.
      operationId: getMe
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AccountExecutive" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # ===================================================================
  # ADMIN AUTH  —  supply chain web dashboard
  #
  # Deliberately a separate principal, table, and token audience from the AE.
  # The mobile app is already in the field; unifying the two would mean
  # touching its live authentication path. See
  # "Supply Chain Backend Extension Spec.md" section 2.
  # ===================================================================
  /admin/auth/login:
    post:
      tags: [Admin Auth]
      summary: Log in to the web dashboard
      description: |
        Admin credentials are seeded out-of-band by IOH HQ — there is no
        self-service registration and no user-management screen in v1.

        The username is matched **case-insensitively**, exactly as an AE code is,
        backed by the functional unique index `uq_admin_username_ci`.

        The returned access token carries `aud: "admin"`. Presenting it to an
        AE-audience route fails with `401 INVALID_TOKEN`.
      security: []
      operationId: adminLogin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                  minLength: 1
                  maxLength: 50
                  examples: ["dp.advan"]
                password:
                  type: string
                  format: password
                  minLength: 1
                deviceLabel:
                  type: string
                  maxLength: 120
                  description: Free-text browser/device identifier, stored against the refresh token.
                  examples: ["Chrome 141 / Windows"]
      responses:
        "400": { $ref: "#/components/responses/MalformedBody" }
        "200":
          description: Authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminAuthTokens" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /admin/auth/refresh:
    post:
      tags: [Admin Auth]
      summary: Exchange an admin refresh token for a new access token
      description: |
        Rotates the refresh token. The presented token is revoked whether or not
        it turns out to be a replay, matching the AE implementation.
      security: []
      operationId: adminRefreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string, minLength: 1 }
      responses:
        "400": { $ref: "#/components/responses/MalformedBody" }
        "200":
          description: Refreshed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminAuthTokens" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /admin/auth/logout:
    post:
      tags: [Admin Auth]
      summary: Revoke the current admin refresh token
      description: Revokes the calling browser session only, not every session this admin holds.
      security:
        - adminBearerAuth: []
      operationId: adminLogout
      responses:
        "204": { description: Logged out }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/me:
    get:
      tags: [Admin Auth]
      summary: Profile and organisation binding of the signed-in admin
      description: |
        The dashboard builds its sidebar from this response: `role` selects the
        menu set, and `organisation` supplies the label shown in the topbar.

        `organisation` is `null` only for `IOH_ADMIN`, which is global-read by
        design and bound to no single counterparty.
      security:
        - adminBearerAuth: []
      operationId: getAdminMe
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminProfile" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # ===================================================================
  # ADMIN REFERENCE DATA
  # ===================================================================
  /admin/reference/call-plans:
    get:
      tags: [Admin Reference]
      summary: Call plans available on an MSISDN request
      description: |
        Backs the *Call Plan* dropdown. Note `kind`: `SALDO_MOBO` is a balance
        top-up, not a data bundle, and carries no `quotaGb`. Consumers should
        branch on `kind` rather than on the absence of `quotaGb`.
      security: [{ adminBearerAuth: [] }]
      operationId: listCallPlans
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/CallPlan" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/reference/brands:
    get:
      tags: [Admin Reference]
      summary: Telco retail brands
      description: |
        Two rows. `displayName` is the brand (*IM3*), `outletName` the storefront
        (*Gerai IM3*) — the mockups used both for the same brand, so pick per
        context deliberately rather than by whichever screen was copied.
      security: [{ adminBearerAuth: [] }]
      operationId: listBrands
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Brand" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/reference/device-models:
    get:
      tags: [Admin Reference]
      summary: Device catalogue
      description: |
        Backs the device picker on the MPX *Buat PO* form.

        `listPriceIdr` may be **null**, meaning the model has no confirmed price
        and cannot yet be ordered. That is deliberate — no price list has been
        supplied, and a guessed price on a purchase order is worse than a blocked
        form. A device PO snapshots its own `unitPriceIdr` at creation, so a later
        change here never rewrites the value of a closed order.

        `brand` here is the hardware **manufacturer** (`HKM`, `ADVAN`). The telco
        brand is a separate concept — see `/admin/reference/brands`.
      security: [{ adminBearerAuth: [] }]
      operationId: listDeviceModels
      parameters:
        - name: includeInactive
          in: query
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/DeviceModelRef" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/reference/device-partners:
    get:
      tags: [Admin Reference]
      summary: Device Partners
      description: |
        Available to `IOH_ADMIN` and `MPX_ADMIN` — the two roles that order from,
        or supply, a Device Partner. A `DP_ADMIN` has no need to enumerate its
        competitors and receives 403.
      security: [{ adminBearerAuth: [] }]
      operationId: listDevicePartners
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/DevicePartnerRef" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /admin/reference/mpx:
    get:
      tags: [Admin Reference]
      summary: MPX stock points
      description: |
        Available to `IOH_ADMIN` and `DP_ADMIN`. An `MPX_ADMIN` already knows which
        MPX it is — that is on `GET /admin/me` — and has no reason to enumerate
        the others, so it receives 403.
      security: [{ adminBearerAuth: [] }]
      operationId: listMpx
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/MpxRef" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  # ===================================================================
  # MSISDN PO  —  DP requests numbers, IOH supplies them
  #
  # One feature seen from two sides. No request body here carries a
  # status, a poCode, or an organisation id: transitions are named
  # actions, codes are server-generated, and the org comes from the token.
  # ===================================================================
  /admin/msisdn-pos:
    get:
      tags: [MSISDN PO]
      summary: List MSISDN requests
      description: |
        A Device Partner sees only its own requests. `IOH_ADMIN` sees every
        partner's, because IOH is the counterparty to all of them.
      security: [{ adminBearerAuth: [] }]
      operationId: listMsisdnPos
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: status
          in: query
          schema: { $ref: "#/components/schemas/MsisdnPoStatus" }
        - name: q
          in: query
          description: Matches the PO code.
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Paginated"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/MsisdnPo" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [MSISDN PO]
      summary: Raise an MSISDN request
      description: |
        `DP_ADMIN` only. The PO code is generated server-side in the format
        `{DP_CODE}-{YYYYMMDD}-{SEQ}` and is never accepted from a client.
      security: [{ adminBearerAuth: [] }]
      operationId: createMsisdnPo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [callPlanId, brandCode, qtyRequested]
              properties:
                callPlanId: { type: string, format: uuid }
                brandCode:  { type: string, minLength: 1, maxLength: 10, examples: ["IM3"] }
                qtyRequested:
                  type: integer
                  minimum: 1
                  maximum: 100000
                note: { type: string, maxLength: 500 }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MsisdnPo" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /admin/msisdn-pos/{poId}:
    get:
      tags: [MSISDN PO]
      summary: One MSISDN request, with its status history
      security: [{ adminBearerAuth: [] }]
      operationId: getMsisdnPo
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MsisdnPoDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/msisdn-pos/{poId}/msisdns:
    get:
      tags: [MSISDN PO]
      summary: The numbers issued against this request
      description: |
        Backs the download icon on a supplied PO.

        `xlsx` is deliberately not offered. Generating it would mean adding a
        spreadsheet dependency, and this project does not add one without asking;
        CSV opens in Excel.
      security: [{ adminBearerAuth: [] }]
      operationId: listMsisdnPoNumbers
      parameters:
        - $ref: "#/components/parameters/PoId"
        - name: format
          in: query
          schema: { type: string, enum: [json, csv], default: json }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/IssuedMsisdn" }
            text/csv:
              schema: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/msisdn-pos/{poId}/process:
    post:
      tags: [MSISDN PO]
      summary: IOH picks the request up
      description: "Transition: `DIAJUKAN` → `DIPROSES`. `IOH_ADMIN` only."
      security: [{ adminBearerAuth: [] }]
      operationId: processMsisdnPo
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/NoteBody" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MsisdnPo" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/InvalidTransition" }

        "422": { $ref: "#/components/responses/ValidationError" }
  /admin/msisdn-pos/{poId}/reject:
    post:
      tags: [MSISDN PO]
      summary: IOH declines the request
      description: |
        Transition: `DIAJUKAN` or `DIPROSES` → `DITOLAK`. `IOH_ADMIN` only.

        The reason is mandatory, in the schema and again in the database. A
        request IOH will not fulfil has to have somewhere to go — without this it
        sits at `DIAJUKAN` forever and the Device Partner has no signal to act on.
      security: [{ adminBearerAuth: [] }]
      operationId: rejectMsisdnPo
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RejectBody" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MsisdnPo" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/InvalidTransition" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /admin/msisdn-pos/{poId}/cancel:
    post:
      tags: [MSISDN PO]
      summary: DP withdraws the request
      description: "Transition: `DIAJUKAN` → `DIBATALKAN`, only while IOH has not acted."
      security: [{ adminBearerAuth: [] }]
      operationId: cancelMsisdnPo
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/NoteBody" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MsisdnPo" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/InvalidTransition" }

        "422": { $ref: "#/components/responses/ValidationError" }
  /admin/msisdn-pos/{poId}/supply:validate:
    post:
      tags: [MSISDN PO]
      summary: Dry run of an MSISDN import
      description: |
        Writes nothing. The operator must see 400 parsed numbers before committing
        400, so the drop zone calls this first and renders `accepted` and `errors`.

        MSISDNs may arrive in `08…` or `62…` form; they are normalised to `62`
        before validation, or a perfectly good spreadsheet column would be
        rejected by a CHECK the operator cannot see.
      security: [{ adminBearerAuth: [] }]
      operationId: validateMsisdnSupply
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SupplyBody" }
      responses:
        "200":
          description: Parsed. Nothing was written.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SupplyValidation" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /admin/msisdn-pos/{poId}/supply:
    post:
      tags: [MSISDN PO]
      summary: IOH supplies the numbers
      description: |
        Transition: `DIAJUKAN` or `DIPROSES` → `DITERIMA`. `IOH_ADMIN` only.

        One transaction, all or nothing. The count must equal `qtyRequested`
        exactly — a partially applied import is worse than a failed one, because
        nothing about the result says which half landed.

        Supplied numbers become `fwa_inventory` rows directly, at `MSISDN_ISSUED`
        with no IMEI. There is no separate item table: a supplied number *is* a
        unit. Those rows are invisible to the AE mobile app until allocation.

        Honours `Idempotency-Key`: a retry after a dropped response returns the
        original result instead of inserting the batch a second time.
      security: [{ adminBearerAuth: [] }]
      operationId: supplyMsisdns
      parameters:
        - $ref: "#/components/parameters/PoId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SupplyBody" }
      responses:
        "200":
          description: Supplied
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SupplyResult" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/InvalidTransition" }
        "422":
          description: |
            Count mismatch (`QTY_MISMATCH`), a malformed number (`INVALID_MSISDN`),
            a duplicate within the batch (`DUPLICATE_MSISDN`), or a number already
            issued (`MSISDN_ALREADY_ISSUED`). Nothing is written in any case.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /admin/msisdn-pos/{poId}/pairing:
    get:
      tags: [Hard Bundle]
      summary: Numbers on this PO still awaiting an IMEI
      security: [{ adminBearerAuth: [] }]
      operationId: getPairingWorklist
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/IssuedMsisdn" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Hard Bundle]
      summary: Pair an IMEI to every number on this PO
      description: |
        `DP_ADMIN` only, on a PO at `DITERIMA`.

        The IMEI count must equal the unpaired MSISDN count exactly, and every
        IMEI must be unique platform-wide. A partial pairing is rejected rather
        than applied — half a bundle is a unit nobody can ship and nobody can find.

        Honours `Idempotency-Key`.
      security: [{ adminBearerAuth: [] }]
      operationId: pairBundles
      parameters:
        - $ref: "#/components/parameters/PoId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PairingBody" }
      responses:
        "200":
          description: Paired
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PairingResult" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/InvalidTransition" }
        "422":
          description: |
            `IMEI_COUNT_MISMATCH` when the counts differ, or `PAIRING_REJECTED`
            with a per-row reason. Nothing is written in either case.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /admin/msisdn-pos/{poId}/pairing:validate:
    post:
      tags: [Hard Bundle]
      summary: Dry run of an IMEI pairing batch
      description: Writes nothing. Shares its checks with the real endpoint so the preview cannot drift.
      security: [{ adminBearerAuth: [] }]
      operationId: validatePairing
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PairingBody" }
      responses:
        "200":
          description: Parsed. Nothing was written.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PairingValidation" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }

  # ===================================================================
  # DEVICE PO  —  MPX orders, the Device Partner fulfils
  # ===================================================================
  /admin/device-pos:
    get:
      tags: [Device PO]
      summary: List device orders
      description: An MPX sees its own orders, a DP sees orders placed with it, IOH sees all.
      security: [{ adminBearerAuth: [] }]
      operationId: listDevicePos
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: status
          in: query
          schema: { $ref: "#/components/schemas/DevicePoStatus" }
        - name: q
          in: query
          description: Matches the PO code.
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Paginated"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/DevicePo" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Device PO]
      summary: Raise a device order
      description: |
        `MPX_ADMIN` only.

        `unitPriceIdr` is snapshotted from the catalogue at creation and never
        read back, so a later price change cannot rewrite the value of a closed
        order. A model with no confirmed price is refused with `MODEL_NOT_PRICED`
        rather than ordered at a guess.

        `addressId` must belong to the calling MPX; another MPX's address reads
        as absent, not as forbidden.
      security: [{ adminBearerAuth: [] }]
      operationId: createDevicePo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [devicePartnerId, deviceModelId, brandCode, qty, addressId]
              properties:
                devicePartnerId: { type: string, format: uuid }
                deviceModelId:   { type: string, format: uuid }
                brandCode:       { type: string, minLength: 1, maxLength: 10 }
                qty:             { type: integer, minimum: 1, maximum: 100000 }
                addressId:       { type: string, format: uuid }
                picName:         { type: string, maxLength: 150 }
                picPhone:        { type: string, maxLength: 20 }
                note:            { type: string, maxLength: 500 }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DevicePo" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /admin/device-pos/{poId}:
    get:
      tags: [Device PO]
      summary: One device order, with the Riwayat history and delivery address
      description: |
        `statusHistory` is what the *Riwayat* panel renders, straight through. It
        is trustworthy only because every transition writes a row in the same
        transaction as the status change.
      security: [{ adminBearerAuth: [] }]
      operationId: getDevicePo
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DevicePoDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/device-pos/{poId}/bundles:
    get:
      tags: [Device PO]
      summary: The units attached to this order
      description: Backs the *Detail IMEI & MSISDN* modal.
      security: [{ adminBearerAuth: [] }]
      operationId: listDevicePoBundles
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Bundle" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Device PO]
      summary: DP attaches bundles to the order
      description: |
        `DP_ADMIN` only, on an order at `DIPROSES`.

        Each MSISDN must be a paired, unattached bundle that reached this Device
        Partner through its own MSISDN PO — that last condition is what stops a
        partner attaching a competitor's stock. The attached count must equal
        `qty` exactly.

        Attached units move to `ASSIGNED` and pick up the destination MPX. Rows
        are locked `FOR UPDATE` so two admins cannot commit the same bundle to
        two different orders.

        Honours `Idempotency-Key`.
      security: [{ adminBearerAuth: [] }]
      operationId: attachDevicePoBundles
      parameters:
        - $ref: "#/components/parameters/PoId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AttachBundlesBody" }
      responses:
        "200":
          description: Attached
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AttachBundlesResult" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/InvalidTransition" }
        "422":
          description: |
            `QTY_MISMATCH`, `BUNDLES_REJECTED` with a per-row reason, or
            `BUNDLE_ALREADY_ATTACHED` when another order claimed a unit first.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /admin/device-pos/{poId}/bundles:validate:
    post:
      tags: [Device PO]
      summary: Dry run of a bundle attachment
      security: [{ adminBearerAuth: [] }]
      operationId: validateDevicePoBundles
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AttachBundlesBody" }
      responses:
        "200":
          description: Parsed. Nothing was written.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AttachBundlesValidation" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /admin/device-pos/{poId}/accept:
    post:
      tags: [Device PO]
      summary: DP accepts the order
      description: "Transition: `DIAJUKAN` → `DIPROSES`. `DP_ADMIN` only."
      security: [{ adminBearerAuth: [] }]
      operationId: acceptDevicePo
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/NoteBody" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DevicePo" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/InvalidTransition" }

        "422": { $ref: "#/components/responses/ValidationError" }
  /admin/device-pos/{poId}/reject:
    post:
      tags: [Device PO]
      summary: DP declines the order
      description: "Transition: `DIAJUKAN` → `DITOLAK`. Reason mandatory."
      security: [{ adminBearerAuth: [] }]
      operationId: rejectDevicePo
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RejectBody" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DevicePo" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/InvalidTransition" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /admin/device-pos/{poId}/cancel:
    post:
      tags: [Device PO]
      summary: MPX withdraws the order
      description: "Transition: `DIAJUKAN` → `DIBATALKAN`, only before the DP accepts."
      security: [{ adminBearerAuth: [] }]
      operationId: cancelDevicePo
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/NoteBody" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DevicePo" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/InvalidTransition" }

        "422": { $ref: "#/components/responses/ValidationError" }
  # ===================================================================
  # ACCOUNT EXECUTIVES  —  MPX only
  # ===================================================================
  /admin/account-executives:
    get:
      tags: [Account Executives]
      summary: Account Executives drawing stock from this MPX
      description: |
        Backs the *Nama AE* dropdown on the stock allocation modal.

        `MPX_ADMIN` only, scoped to `account_executive.mpx_code` = the caller's own
        MPX code. No parameter widens that scope.
      security: [{ adminBearerAuth: [] }]
      operationId: listAccountExecutives
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: q
          in: query
          description: Matches AE code or full name.
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Paginated"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/AdminAccountExecutive" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /admin/account-executives/{aeId}:
    get:
      tags: [Account Executives]
      summary: One AE, with what they are currently holding
      description: |
        Backs the *Tentang AE* panel — `ID`, `Brand`, `Branch`, and current stock.

        An AE drawing stock from another MPX returns 404, not 403: a 403 would
        confirm the record exists to a stock point that has no business knowing.
      security: [{ adminBearerAuth: [] }]
      operationId: getAccountExecutive
      parameters:
        - name: aeId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminAccountExecutiveDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ===================================================================
  # ADDRESSES  —  the MPX Alamat Penerima book
  # ===================================================================
  /admin/addresses:
    get:
      tags: [Addresses]
      summary: Delivery addresses for this MPX
      description: Default first, then alphabetical — the PO form preselects the default.
      security: [{ adminBearerAuth: [] }]
      operationId: listAddresses
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Paginated"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/DeliveryAddress" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Addresses]
      summary: Add a delivery address
      description: |
        Backs *Tambah baru* on the device PO form. `mpxId` is deliberately absent from
        the body — the address belongs to whichever MPX is calling, taken from the token.

        Setting a new default clears the old one in the same transaction; a partial
        unique index enforces one default per MPX, so two concurrent attempts cannot
        both win. Latitude and longitude must be supplied together or not at all.
      security: [{ adminBearerAuth: [] }]
      operationId: createAddress
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateAddressBody" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeliveryAddress" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /admin/addresses/{addressId}:
    get:
      tags: [Addresses]
      summary: One address, in full
      description: Backs the *Alamat Lengkap* modal. Another MPX's address reads as absent.
      security: [{ adminBearerAuth: [] }]
      operationId: getAddress
      parameters:
        - name: addressId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeliveryAddress" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ===================================================================
  # SHIPMENT
  # ===================================================================
  /admin/device-pos/{poId}/shipment:
    post:
      tags: [Shipment]
      summary: DP ships the order
      description: |
        Transition `DIPROSES` → `DIKIRIM`. `DP_ADMIN` only.

        This is the screen the UI review found missing entirely (issue #1): the Riwayat
        panel already displayed a courier and resi, and nothing produced them. Submitting
        writes `{courier} | {awb}` into the status history, which is what that panel
        renders.

        `courierName` is free text — couriers are manual for v1, so there is no
        reference table to validate against.

        Refused unless every unit is attached. Receipt is all-or-nothing, so shipping a
        short order guarantees a receipt that can never be confirmed; better to fail
        while the boxes are still in the warehouse.
      security: [{ adminBearerAuth: [] }]
      operationId: createShipment
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateShipmentBody" }
      responses:
        "200":
          description: Shipped
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Shipment" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/InvalidTransition" }
        "422":
          description: "`ORDER_NOT_FULLY_ATTACHED` — some units are still unattached."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    get:
      tags: [Shipment]
      summary: Delivery progress for this order
      description: |
        Backs the four-step Delivery Progress tracker. Milestones come back in tracker
        order rather than insertion order, so the client renders them without sorting.
      security: [{ adminBearerAuth: [] }]
      operationId: getShipment
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Shipment" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/shipments/{shipmentId}/milestones:
    post:
      tags: [Shipment]
      summary: Record a delivery milestone
      description: |
        Entered by hand by the Device Partner — there is no courier integration in v1,
        so this takes an admin token rather than a service credential. If a courier
        webhook is added later it becomes a second credential on this one route, with
        no schema change.

        Each milestone is recorded once; repeating one would draw a progress bar that
        goes backwards.
      security: [{ adminBearerAuth: [] }]
      operationId: addShipmentMilestone
      parameters:
        - name: shipmentId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MilestoneBody" }
      responses:
        "200":
          description: Recorded
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Shipment" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: "`MILESTONE_ALREADY_RECORDED`."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422": { $ref: "#/components/responses/ValidationError" }

  # ===================================================================
  # GOODS RECEIPT
  # ===================================================================
  /admin/device-pos/{poId}/inspect:
    post:
      tags: [Goods Receipt]
      summary: MPX opens the delivery
      description: "Transition `DIKIRIM` → `PERIKSA`. `MPX_ADMIN` only."
      security: [{ adminBearerAuth: [] }]
      operationId: inspectDevicePo
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/NoteBody" }
      responses:
        "200":
          description: Inspecting
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/DevicePoStatus" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/InvalidTransition" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /admin/device-pos/{poId}/receipt:
    post:
      tags: [Goods Receipt]
      summary: MPX confirms the whole delivery
      description: |
        Transition `PERIKSA` → `DITERIMA`. `MPX_ADMIN` only.

        **One final, all-or-nothing confirmation.** If the box is short this returns
        `422 RECEIPT_INCOMPLETE`, nothing is written, and the order stays at `PERIKSA`.
        Confirmed 2026-09-01: the reshipping happens entirely outside this system, and
        the MPX confirms only once the full list is physically present. That is why
        there is no partial-receipt state — the alternative was an MPX admin personally
        attesting to units they never received.

        Confirmed units move to `RECEIVED` and are stamped with `receivedAt`, which is
        the key automatic allocation orders by.
      security: [{ adminBearerAuth: [] }]
      operationId: confirmReceipt
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReceiptBody" }
      responses:
        "200":
          description: Received
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GoodsReceipt" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/InvalidTransition" }
        "422":
          description: |
            `RECEIPT_INCOMPLETE` when units are missing, or `CONFIRMATION_REQUIRED`
            when the attestation was not checked. Nothing is written in either case.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    get:
      tags: [Goods Receipt]
      summary: The receipt for this order
      security: [{ adminBearerAuth: [] }]
      operationId: getReceipt
      parameters: [{ $ref: "#/components/parameters/PoId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GoodsReceipt" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ===================================================================
  # STOCK & ALLOCATION  —  where the seam closes
  # ===================================================================
  /admin/stock:
    get:
      tags: [Stock & Allocation]
      summary: Stock this MPX holds, by device model
      description: |
        Backs the *Stok Tersedia* table. The three columns are defined here because the
        mockups were arithmetically impossible (issue #5 showed available 20 +
        allocated 21 = total 10):

        * `available` — `RECEIVED` and not yet allocated (*Jml. Tersedia*)
        * `allocated` — `ALLOCATED` and not yet activated (*Jml. Dialokasikan*)
        * `total` — the two added: everything this MPX still holds

        An activated unit has been sold to a customer and leaves all three counts.
      security: [{ adminBearerAuth: [] }]
      operationId: getStockSummary
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/StockLine" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /admin/stock/bundles:
    get:
      tags: [Stock & Allocation]
      summary: Individual allocatable units, oldest received first
      description: |
        Backs the Manual picker. Ordered by `receivedAt` — the *Tgl. Terima* column —
        exactly as automatic allocation would take them, so the top of this list is
        what Otomatis would have chosen.
      security: [{ adminBearerAuth: [] }]
      operationId: listStockBundles
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: deviceModelId
          in: query
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Paginated"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/StockBundle" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /admin/allocations:
    get:
      tags: [Stock & Allocation]
      summary: Allocations made by this MPX
      security: [{ adminBearerAuth: [] }]
      operationId: listAllocations
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Paginated"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Allocation" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Stock & Allocation]
      summary: Allocate stock to an Account Executive
      description: |
        **The end of the chain, and the only writer of
        `fwa_inventory.allocated_ae_id`.** After this call the units are visible to that
        salesman's barcode scanner; before it, nothing in the supply chain is.

        Same discipline as `activation.activationDate`, which only the GA feed may set:
        the value decides what a salesman is allowed to sell, so a second writer would
        be a way to give away somebody else's stock.

        `aeId` in the body is deliberate and is why this is an admin-audience route.
        Golden rule 2 still holds on the AE audience — the caller is confined to its own
        MPX by the token, and an AE drawing stock from another MPX reads as absent.

        * `AUTO` — takes the oldest `RECEIVED` units per model, FIFO on *Tgl. Terima*,
          under `FOR UPDATE SKIP LOCKED`. Two admins allocating the last unit produce
          one success and one clean `409 INSUFFICIENT_STOCK`, never two handovers of the
          same device.
        * `MANUAL` — the units are named outright.

        All or nothing: a partial allocation is never written.
      security: [{ adminBearerAuth: [] }]
      operationId: allocateStock
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateAllocationBody" }
      responses:
        "201":
          description: Allocated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AllocationDetail" }
        "400": { $ref: "#/components/responses/MalformedBody" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409":
          description: "`INSUFFICIENT_STOCK` — fewer units available than requested."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422":
          description: |
            `AE_NOT_FOUND` (unknown, or drawing stock from another MPX),
            `BUNDLE_NOT_ALLOCATABLE`, `ITEMS_REQUIRED`, or `MSISDNS_REQUIRED`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  # ===================================================================
  # CUSTOMERS
  # ===================================================================
  /customers:
    get:
      tags: [Customers]
      summary: List prospects registered by this AE
      description: |
        Backs both **Daftar New Customer** and **Daftar Hot Leads** — the Hot
        Leads screen is this endpoint with `status=HOT_LEADS`.

        The UI's "7 Hari Terakhir" chip maps to `period=7d`. An explicit
        `from`/`to` pair overrides `period`.
      operationId: listCustomers
      parameters:
        - $ref: "#/components/parameters/Period"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: status
          in: query
          description: Filter by interaction status. Repeat for multiple values.
          schema:
            type: array
            items: { $ref: "#/components/schemas/CustomerStatus" }
          style: form
          explode: true
        - name: q
          in: query
          description: Free-text search over name and phone number.
          schema: { type: string }
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Paginated"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Customer" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/DateRangeError" }

    post:
      tags: [Customers]
      summary: Register a new prospect
      description: |
        Backs the **Input New Customer** form. `aeId` is taken from the JWT and
        must not be sent.

        The server records `isMocked` but does **not** reject a mocked-location
        submission — it is flagged for supervisor review instead, so a
        genuine AE is never blocked in the field by a GPS quirk.
      operationId: createCustomer
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CustomerCreate" }
      responses:
        "400": { $ref: "#/components/responses/MalformedBody" }
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Customer" }
        "409":
          description: |
            A customer with this phone number is already registered by this AE,
            or the `Idempotency-Key` was already used with a different payload.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /customers/{customerId}:
    parameters:
      - name: customerId
        in: path
        required: true
        schema: { type: integer, format: int64, examples: [1234567890] }
    get:
      tags: [Customers]
      summary: Retrieve one prospect
      operationId: getCustomer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CustomerDetail" }
        "404": { $ref: "#/components/responses/NotFound" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    patch:
      tags: [Customers]
      summary: Update a prospect
      description: |
        Chiefly used to move a lead along the funnel — `HOT_LEADS` → `PURCHASE`.
        Every status change is written to `customer_status_history`, which is
        what makes conversion rate measurable later.
      operationId: updateCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName: { type: string }
                phoneNumber: { type: string }
                address: { type: string }
                status: { $ref: "#/components/schemas/CustomerStatus" }
                statusNote: { type: string }
      responses:
        "400": { $ref: "#/components/responses/MalformedBody" }
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CustomerDetail" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }

        "401": { $ref: "#/components/responses/Unauthorized" }
  /customers/lookup:
    get:
      tags: [Customers]
      summary: Typeahead source for the "ID Customer" dropdown
      description: |
        Lightweight list used by the activation form's customer selector, which
        renders each option as `{customerId} - {fullName}`. Returns only
        customers belonging to the signed-in AE.
      operationId: lookupCustomers
      parameters:
        - name: q
          in: query
          schema: { type: string }
        - name: excludeActivated
          in: query
          description: Omit customers that already have an activation.
          schema: { type: boolean, default: true }
        - name: limit
          in: query
          # `minimum` added 2026-08-19: without it a negative limit was a
          # schema-compliant request that the server could only reject with a 422.
          schema: { type: integer, default: 20, minimum: 1, maximum: 100 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        customerId: { type: integer, format: int64, examples: [1234567890] }
                        fullName:   { type: string, examples: ["Susanto"] }
                        label:      { type: string, examples: ["1234567890 - Susanto"] }

        "401": { $ref: "#/components/responses/Unauthorized" }
  # ===================================================================
  # INVENTORY  (barcode scanner)
  # ===================================================================
  /inventory/msisdn/{msisdn}:
    get:
      tags: [Inventory]
      summary: Resolve a scanned MSISDN to its bundled device
      description: |
        Called the moment the barcode scanner reads a number. This is what
        populates the read-only **IMEI** and **Tipe Modem** fields on the
        activation form.

        `eligible` is the field the client should gate the submit button on.
        It is `false` when the MSISDN is not allocated to this AE, has already
        been sold, or is blocked — with a machine-readable `reason`.
      operationId: lookupMsisdn
      parameters:
        - name: msisdn
          in: path
          required: true
          description: Normalised to 62 form before the call.
          schema: { type: string, pattern: '^62[0-9]{8,13}$', examples: ["6285882724305"] }
      responses:
        "200":
          description: Found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InventoryItem" }
        "404":
          description: MSISDN is not a registered FWA number.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /inventory/me:
    get:
      tags: [Inventory]
      summary: Stock allocated to this AE
      description: Lets the app show remaining stock and work offline after a bootstrap sync.
      operationId: listMyInventory
      parameters:
        - name: status
          in: query
          schema: { $ref: "#/components/schemas/InventoryStatus" }
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Paginated"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/InventoryItem" }

        "401": { $ref: "#/components/responses/Unauthorized" }
  # ===================================================================
  # ACTIVATIONS
  # ===================================================================
  /activations:
    get:
      tags: [Activations]
      summary: List activations submitted by this AE
      description: |
        Backs **Daftar Aktivasi**. The `Activated` / `Not Activated` badge is
        the `status` field; `activationDate` is populated only once the Gross
        Add feed confirms the SIM went live.
      operationId: listActivations
      parameters:
        - $ref: "#/components/parameters/Period"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: status
          in: query
          schema:
            type: array
            items: { $ref: "#/components/schemas/ActivationStatus" }
          style: form
          explode: true
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Paginated"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Activation" }
        "422": { $ref: "#/components/responses/DateRangeError" }

        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Activations]
      summary: Submit a customer activation
      description: |
        Backs the **Aktivasi Pelanggan** form.

        The client sends only the customer, the scanned MSISDN, and the GPS fix.
        IMEI and modem type are resolved server-side from `fwa_inventory` and
        snapshotted onto the activation record — a client is never trusted to
        assert which device a MSISDN is bundled with.

        Created with `status: NOT_ACTIVATED`. The GA reconciliation job flips it
        to `ACTIVATED` and stamps `activationDate`.
      operationId: createActivation
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ActivationCreate" }
      responses:
        "400": { $ref: "#/components/responses/MalformedBody" }
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Activation" }
        "409":
          description: This MSISDN has already been activated.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                alreadySold:
                  value:
                    error:
                      code: MSISDN_ALREADY_ACTIVATED
                      message: "MSISDN 6285882724305 was already activated on 2026-08-11."
        "422":
          description: |
            Validation failed — commonly `MSISDN_NOT_ALLOCATED` (the number is
            not in this AE's stock) or `CUSTOMER_NOT_OWNED`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /activations/{activationId}:
    get:
      tags: [Activations]
      summary: Retrieve one activation
      operationId: getActivation
      parameters:
        - name: activationId
          in: path
          required: true
          schema: { type: integer, format: int64, examples: [2987654321] }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Activation" }
        "404": { $ref: "#/components/responses/NotFound" }

        "401": { $ref: "#/components/responses/Unauthorized" }
  # ===================================================================
  # ATTENDANCE
  # ===================================================================
  /attendance/check-in:
    post:
      tags: [Attendance]
      summary: Daily check-in with selfie and location
      description: |
        Multipart because of the mandatory selfie. Compress client-side to
        roughly 1024px / 70% quality before upload — raw phone photos fail on a
        field connection.

        A check-in outside the permitted geofence is **accepted** with
        `approvalStatus: PENDING_APPROVAL` and routed to CSE, matching the UI
        warning "Lokasi kamu berada di luar jangkauan".
      operationId: checkIn
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [photo, latitude, longitude]
              properties:
                photo:
                  type: string
                  format: binary
                latitude:  { type: number, format: double }
                longitude: { type: number, format: double }
                geoAccuracyM: { type: number, format: float }
                isMocked:  { type: boolean, default: false }
                note:      { type: string, description: "Catatan (Opsional)" }
                document:  { type: string, format: binary, description: "Dokumen (Opsional)" }
                deviceTime: { type: string, format: date-time }
      responses:
        "400": { $ref: "#/components/responses/MalformedBody" }
        "201":
          description: Checked in
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Attendance" }
        "409":
          description: Already checked in today.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422": { $ref: "#/components/responses/ValidationError" }

        "401": { $ref: "#/components/responses/Unauthorized" }
  /attendance/check-out:
    post:
      tags: [Attendance]
      summary: Daily check-out
      operationId: checkOut
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [latitude, longitude]
              properties:
                latitude:  { type: number, format: double }
                longitude: { type: number, format: double }
                isMocked:  { type: boolean, default: false }
                deviceTime: { type: string, format: date-time }
      responses:
        "400": { $ref: "#/components/responses/MalformedBody" }
        "200":
          description: Checked out
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Attendance" }
        "409":
          description: No open check-in for today.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422": { $ref: "#/components/responses/ValidationError" }

        "401": { $ref: "#/components/responses/Unauthorized" }
  /attendance/today:
    get:
      tags: [Attendance]
      summary: Today's attendance record
      operationId: getTodayAttendance
      responses:
        "200":
          description: OK. `null` data means not yet checked in.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/Attendance"
                      - type: "null"

        "401": { $ref: "#/components/responses/Unauthorized" }
  /attendance:
    get:
      tags: [Attendance]
      summary: Attendance history
      operationId: listAttendance
      parameters:
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Paginated"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Attendance" }
        "422": { $ref: "#/components/responses/DateRangeError" }

        "401": { $ref: "#/components/responses/Unauthorized" }
  # ===================================================================
  # REPORTS
  # ===================================================================
  /reports/summary:
    get:
      tags: [Reports]
      summary: Headline counters
      description: |
        Backs the four tiles on the **Report** screen and the two on **Home** —
        Total Aktivasi, Insentif, New Customer, Hot Leads.

        `incentiveIdr` is whole rupiah. The UI divides by 100 000 to render
        "242 Ratus Ribu Rupiah".
      operationId: getReportSummary
      parameters:
        - $ref: "#/components/parameters/Period"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ReportSummary" }
        "422": { $ref: "#/components/responses/DateRangeError" }

        "401": { $ref: "#/components/responses/Unauthorized" }
  /reports/daily-activity:
    get:
      tags: [Reports]
      summary: Daily series for the home-screen chart
      description: |
        One entry per day in range, including days with zero activity so the
        chart keeps an unbroken axis. `target` supplies the grey benchmark bars
        behind the pink actual bars.
      operationId: getDailyActivity
      parameters:
        - $ref: "#/components/parameters/Period"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/DailyActivity" }
        "422": { $ref: "#/components/responses/DateRangeError" }

        "401": { $ref: "#/components/responses/Unauthorized" }
  /reports/incentives:
    get:
      tags: [Reports]
      summary: Incentive ledger for this AE
      operationId: listIncentives
      parameters:
        - name: periodYm
          in: query
          schema: { type: string, pattern: '^[0-9]{4}-[0-9]{2}$', examples: ["2026-08"] }
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Paginated"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/IncentiveEntry" }

        "401": { $ref: "#/components/responses/Unauthorized" }
  # ===================================================================
  # SYNC
  # ===================================================================
  /sync/bootstrap:
    get:
      tags: [Sync]
      summary: One-shot payload to prime the offline cache
      description: |
        Called on login and on pull-to-refresh. Everything the app needs to keep
        functioning without a connection: profile, allocated stock, recent
        customers, and the server clock for drift correction.
      operationId: syncBootstrap
      parameters:
        - name: since
          in: query
          description: Return only records changed after this instant.
          schema: { type: string, format: date-time }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  serverTime: { type: string, format: date-time }
                  profile:    { $ref: "#/components/schemas/AccountExecutive" }
                  inventory:
                    type: array
                    items: { $ref: "#/components/schemas/InventoryItem" }
                  customers:
                    type: array
                    items: { $ref: "#/components/schemas/Customer" }

        "401": { $ref: "#/components/responses/Unauthorized" }
  # ===================================================================
  # FILES
  #
  # ADDED 2026-08-19, during implementation. `Attendance.checkInPhotoUrl` has to
  # resolve to something, and the security rules require that something to be a
  # short-lived signed URL rather than a public bucket path — so the contract
  # implied an endpoint it did not declare. This is that endpoint.
  #
  # No bearer auth by design: the token *is* the authorisation. It expires in
  # minutes and is only ever handed to the AE who owns the record, which is what
  # lets an <img src> load the photo without an Authorization header.
  # ===================================================================
  /files/{token}:
    get:
      tags: [Files]
      summary: Fetch a private file with a short-lived signed token
      description: |
        Serves an attendance selfie or document. The token is an HMAC-signed,
        time-limited reference minted by the server when it returns an
        `Attendance` record.

        Treat the URL as perishable: re-fetch the attendance record rather than
        caching the link.
      operationId: getFile
      security: []
      parameters:
        - name: token
          in: path
          required: true
          description: Opaque signed token from `checkInPhotoUrl` or `documentUrl`.
          schema: { type: string }
      responses:
        "200":
          description: The file
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
            image/jpeg:
              schema: { type: string, format: binary }
        "404":
          description: |
            Token invalid, expired, or the file is unknown. These are deliberately
            not distinguished — separate answers would make this an oracle for
            which storage keys exist.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  # ===================================================================
  # INTERNAL
  # ===================================================================
  /internal/ga-events:
    post:
      tags: [Internal]
      summary: Ingest Gross Add events from GCP
      description: |
        Server-to-server. Flips matching activations to `ACTIVATED` and stamps
        `activationDate` (the brief's "GA Date — Automatic from GCP"). Also the
        trigger for incentive accrual.

        Not reachable with an AE token; requires a service credential.
      operationId: ingestGaEvents
      security:
        - serviceAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [events]
              properties:
                events:
                  type: array
                  items:
                    type: object
                    required: [msisdn, activationDate]
                    properties:
                      msisdn:         { type: string }
                      activationDate: { type: string, format: date-time }
                      outcome:
                        type: string
                        enum: [ACTIVATED, FAILED]
                        default: ACTIVATED
      responses:
        "400": { $ref: "#/components/responses/MalformedBody" }
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  matched:   { type: integer }
                  unmatched: { type: integer }
        "403":
          description: Missing or invalid service credential.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422": { $ref: "#/components/responses/ValidationError" }

# =====================================================================
components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived access token from `/auth/login`.
    adminBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Short-lived access token from `/admin/auth/login`, carrying `aud: "admin"`.

        This is a different audience from `bearerAuth`, not merely a different
        token. An AE token presented to an `/admin` route is rejected because it
        carries no audience claim; an admin token presented to an AE route is
        rejected because it carries one the AE decoder does not expect. The
        separation is enforced at the JWT layer, before any handler runs.
    serviceAuth:
      type: apiKey
      in: header
      name: X-Service-Key
      description: Shared secret for server-to-server calls.

  parameters:
    Period:
      name: period
      in: query
      description: Relative window. Ignored when `from`/`to` are supplied.
      schema:
        type: string
        enum: ["7d", "30d", "mtd", "ytd"]
        default: "7d"
    From:
      name: from
      in: query
      schema: { type: string, format: date }
    To:
      name: to
      in: query
      schema: { type: string, format: date }
    Page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    PerPage:
      name: perPage
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
    PoId:
      name: poId
      in: path
      required: true
      schema: { type: string, format: uuid }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        Client-generated UUID. Replaying the same key with the same payload
        returns the original resource instead of creating a duplicate — this is
        what makes the mobile offline outbox safe to retry.
      schema: { type: string, format: uuid }

  responses:
    Unauthorized:
      description: Missing, expired, or invalid token.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Forbidden:
      description: |
        The role of the caller does not permit this action.

        Admin-audience only. AE routes never return 403 — there a missing record and
        another AE record are both 404, because a 403 would confirm the record exists.
        On the dashboard no such inference is available: the sidebar already tells a
        Device Partner that MPX screens exist, so naming the role boundary leaks nothing.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: Resource does not exist, or does not belong to this AE.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    InvalidTransition:
      description: |
        The order is not in a state where this action means anything —
        `INVALID_TRANSITION`.

        409 rather than 422 because nothing about the request is malformed. In
        practice this is usually a stale browser tab acting on an order somebody
        else has already moved on.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    MalformedBody:
      description: |
        The request body could not be read. Returned by the ASGI layer before any
        validation runs — most often a body that is not decodable as UTF-8, or a
        truncated upload. Distinct from `422`, which means the body parsed but its
        contents were rejected.

        Declared on every operation that takes a body, because it can occur on all of
        them and a client branching on status codes should not meet an undocumented one.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          examples:
            malformed:
              value:
                error:
                  code: HTTP_ERROR
                  message: "There was an error parsing the body"
    ValidationError:
      description: Request failed validation.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    DateRangeError:
      description: |
        ADDED 2026-08-19. Every endpoint taking `from`/`to` returns
        `422 INVALID_DATE_RANGE` when `from` is later than `to`. The two
        parameters are individually valid dates, so nothing rejects the pair
        until the server compares them — which made this an undeclared status
        code on an otherwise schema-compliant request. Documented rather than
        silently swapped, because a reversed range is a client bug and quietly
        "fixing" it would hide one.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          examples:
            reversedRange:
              value:
                error:
                  code: INVALID_DATE_RANGE
                  message: "The 'from' date must not be after the 'to' date."
    TooManyRequests:
      description: Rate limit exceeded.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:

    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Stable machine-readable identifier. Never localised.
              examples: ["MSISDN_NOT_ALLOCATED"]
            message:
              type: string
              description: Human-readable, safe to show to the AE.
            details:
              type: array
              items:
                type: object
                properties:
                  field:  { type: string }
                  issue:  { type: string }

    Paginated:
      type: object
      properties:
        data:
          type: array
          items: {}
        meta:
          type: object
          properties:
            page:       { type: integer }
            perPage:    { type: integer }
            total:      { type: integer }
            totalPages: { type: integer }

    AuthTokens:
      type: object
      properties:
        accessToken:  { type: string }
        refreshToken: { type: string }
        expiresIn:
          type: integer
          description: Access-token lifetime in seconds.
          examples: [900]
        mustChangePassword:
          type: boolean
          description: True on first login with an HQ-issued password.
        profile: { $ref: "#/components/schemas/AccountExecutive" }

    CreateAddressBody:
      type: object
      required: [label, recipientName, recipientPhone, line1, city, province]
      properties:
        label:          { type: string, minLength: 1, maxLength: 60, examples: ["Gudang Utama"] }
        recipientName:  { type: string, minLength: 1, maxLength: 150 }
        recipientPhone:
          type: string
          pattern: "^(62|0)[0-9]{8,13}$"
          description: A contact number, stored as typed in 08… or 62… form.
          examples: ["081234567890"]
        line1:      { type: string, minLength: 1 }
        kelurahan:  { type: string, maxLength: 120 }
        kecamatan:  { type: string, maxLength: 120 }
        city:       { type: string, minLength: 1, maxLength: 120 }
        province:   { type: string, minLength: 1, maxLength: 120 }
        postalCode: { type: string, maxLength: 10 }
        latitude:
          type: number
          minimum: -90
          maximum: 90
          description: Must be supplied together with longitude, or not at all.
        longitude:  { type: number, minimum: -180, maximum: 180 }
        gmapsUrl:   { type: string }
        isDefault:  { type: boolean, default: false }

    CreateShipmentBody:
      type: object
      required: [courierName, awb]
      properties:
        courierName:
          type: string
          minLength: 1
          maxLength: 60
          description: Free text — couriers are manual for v1, with no reference table.
          examples: ["J&T Express"]
        awb:
          type: string
          minLength: 1
          maxLength: 60
          description: Nomor Resi — the proof of dispatch.
          examples: ["JD0463672772"]
        estimatedDeliveryDate: { type: string, format: date }
        note: { type: string, maxLength: 500 }

    ShipmentMilestoneType:
      type: string
      description: The four steps of the Delivery Progress tracker, in order.
      enum: [SHIPPED, IN_TRANSIT, OUT_FOR_DELIVERY, DELIVERED]

    MilestoneBody:
      type: object
      required: [milestone]
      properties:
        milestone: { $ref: "#/components/schemas/ShipmentMilestoneType" }
        occurredAt:
          type: string
          format: date-time
          description: Defaults to now. The server remains authoritative on time.
        note: { type: string, maxLength: 500 }

    Shipment:
      type: object
      required: [shipmentId, devicePoId, courierName, awb, shippedAt, milestones]
      properties:
        shipmentId:  { type: string, format: uuid }
        devicePoId:  { type: string, format: uuid }
        courierName: { type: string, examples: ["J&T Express"] }
        awb:         { type: string, examples: ["JD0463672772"] }
        shippedAt:   { type: string, format: date-time }
        estimatedDeliveryDate: { type: string, format: date }
        deliveredAt: { type: string, format: date-time }
        milestones:
          type: array
          description: In tracker order, not insertion order.
          items:
            type: object
            required: [milestone, occurredAt]
            properties:
              milestone:  { $ref: "#/components/schemas/ShipmentMilestoneType" }
              occurredAt: { type: string, format: date-time }
              note:       { type: string }

    ReceiptBody:
      type: object
      required: [confirmed]
      properties:
        confirmed:
          type: boolean
          description: |
            The attestation, and it must be true. It names a person in the UI and is
            what the status-history *oleh* column records.
        note: { type: string, maxLength: 500 }

    GoodsReceipt:
      type: object
      required: [goodsReceiptId, devicePoId, status, qtyReceived, receivedAt]
      properties:
        goodsReceiptId: { type: string, format: uuid }
        devicePoId:     { type: string, format: uuid }
        status:         { $ref: "#/components/schemas/DevicePoStatus" }
        qtyReceived:    { type: integer }
        receivedAt:     { type: string, format: date-time }
        receivedBy:     { type: string, examples: ["Atha Marcella"] }
        note:           { type: string }

    StockLine:
      type: object
      required: [available, allocated, total]
      properties:
        deviceModelId:   { type: string, format: uuid }
        deviceModelCode: { type: string, examples: ["ADVAN V1 PRO"] }
        available: { type: integer, description: RECEIVED and not yet allocated. }
        allocated: { type: integer, description: ALLOCATED and not yet activated. }
        total:     { type: integer, description: available + allocated. }

    StockBundle:
      type: object
      required: [msisdn]
      properties:
        msisdn: { type: string }
        imei:
          oneOf:
            - type: string
            - type: "null"
        deviceModelCode: { type: string }
        brandCode:       { type: string }
        receivedAt:
          type: string
          format: date-time
          description: The *Tgl. Terima* column, and the key AUTO allocation orders by.

    AllocationMode:
      type: string
      enum: [AUTO, MANUAL]

    CreateAllocationBody:
      type: object
      required: [aeId, mode]
      properties:
        aeId:
          type: string
          format: uuid
          description: |
            The salesman receiving the stock. Naming another principal is the point of
            an admin-audience route; the caller is still confined to its own MPX by the
            token.
        mode: { $ref: "#/components/schemas/AllocationMode" }
        items:
          type: array
          description: AUTO mode — how many of each device model.
          items:
            type: object
            required: [deviceModelId, qty]
            properties:
              deviceModelId: { type: string, format: uuid }
              qty: { type: integer, minimum: 1, maximum: 100000 }
        msisdns:
          type: array
          description: MANUAL mode — the exact units.
          items: { type: string }
[...]
